.add-button, .remove-button {
	margin: 0px;
	vertical-align: top;
}

.add-button span.ui-button-text, .remove-button span.ui-button-text {
	/*background: white url('../resources/images/add.png') no-repeat center;
	border: 0px; */
    padding: 2px;
    font-size: 0.7em;	
}

span.input-validation-error {
	background: #FCF8E3;
	border-bottom: 1px solid #FBEED5;
	border-left: 1px solid #FBEED5;
	border-radius: 3px;
	border-right: 1px solid #FBEED5;
	border-top: 1px solid #FBEED5;
	color: #C09853;
	display: block;
	padding: 5px;	
	
}

label.main-label {
	font-size: 1.1em;
	font-weight: bolder;
	
	margin: 10px 7px 5px 0px;
}

div.editor-widget-container {
	margin: 10px 0px 5px 0px;
}

div.description {
	font-style: italic;
	font-size: 0.9em;
}

.lat-lon-header {
	text-align: left;
}

.ui-widget-content input.ui-inputfield {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.ui-widget-content input.ui-inputfield {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-widget-content input.ui-inputfield, .ui-widget-content input.ui-inputfield.ui-state-focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-widget-content textarea.ui-inputfield, .ui-widget-content textarea.ui-inputfield.ui-state-focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

div.error-page {
	font-family: Arial, Verdana, sans-serif;
	padding: 5px 5px 5px 5px;
	margin: 20px auto 0px auto;
	border: 1px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	width: 500px;
}