Package: [[name]]
Version: [[version]]
Section: contrib/misc
Priority: optional
Architecture: all
Depends: tomcat7
Maintainer: Metsis <oysteint@met.no>
Description: Metadata Editor web application
Distribution: This is the Debian package for Metadata Editor developed by met.no