Package: [[name]]
Version: [[version]]
Section: contrib/misc
Priority: optional
Architecture: all
Depends: tomcat7
Maintainer: Metsis <oysteint@met.no>
Description: This is the Debian package for Metadata Editor web-application developed by met.no 